.App {
  text-align: center;
}

.Timer-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.elapsed-time {
  font-size: 2.5rem;
  /* 等幅フォントを使用することで、タイマーが更新されるたびに要素の再描画が行われ、
  表示が振動してしまうことを予防します */
  font-family: monospace;
}

.milliseconds {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* ボタンの幅を固定します。*/
  width: 80px;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #003c80;
}

.button:focus {
  outline: none;
}
